
.container{
  height: 300px;
  width: 100%;
}

body {
  background-color: lavender;
}

#display{
  width: 100%;
  font-size: 72px;
  color: purple;
  text-align: center;
  margin: 0px auto;
}

.buttons{
  text-align: center;

}