



body {
  background-color: teal;
  display: block;
  justify-content: center;
  text-align: center;
  font-family: 'Poppins';

}
h1, h2 {
  color:white;
  text-align: center;
  margin: auto;
  display: block;
  padding: 20px;
}

.heading{
  font-size: 2em;
  margin: 2em 0;
}


#display{
  width: 100%;
  font-size: 72px;
  color: white;
  text-align: center;
  margin: 20x auto;
}

button {
  text-align: center;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  width: 100px;
  height: 45px;
  font-size: 1em;
  padding: 10px;
  border-radius: inherit;
  margin: 9px;
}

#lapRecord{
  color: white;
  font-size: 1em;
}
