



body {
  background-color: teal;
  display: block;
  justify-content: center;
  text-align: center;
  font-family: 'Poppins';

}
h1, h2 {
  color:white;
  text-align: center;
  margin: auto;
  display: block;
  padding: 20px;
}

.heading{
  font-size: 2em;
  margin: 2em 0;
}


#display{
  width: 100%;
  font-size: 72px;
  color: white;
  text-align: center;
  margin: 20x auto;
}

.buttons{
  text-align: center;
  border-radius: inherit;


}
